@mixin anchor-with-fixed($fixed-height) {
  padding-top: $fixed-height;
  margin-top: -$fixed-height;
}

@mixin text-overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin multi-line-text-overflow-ellipsis($line-count) {
  display: -webkit-box;
  word-break: break-all;
  -webkit-line-clamp: $line-count;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin avatar-rotate {
  transform: rotate(666turn);
  transition-delay: 0.6s;
  transition-property: all;
  transition-duration: 59s;
  transition-timing-function: cubic-bezier(0.34, 0, 0.84, 1);
}
